HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Application Properties
/src/main/resources/application.yml
/src/main/resources/application-test.yml
/src/main/resources/application-dev.yml
/src/main/resources/application-prod.yml

# Key Files
/src/main/resources/keys/

# Desktop Services Store
.DS_Store
src/.DS_Store

# Firebase
/src/main/resources/firebase/gifthub-b2dcb-firebase-adminsdk-yj7uq-912097b9ae.json

# Actions Secrets
actions-secrets.yml